---
layout: base.njk
title: Thank You
permalink: /thank-you.html
---

<div style="text-align: center; margin-top: 50px; font-family: sans-serif;">
    <h1>Thank You!</h1>
    <p>Your submission has been received.</p>
    <a href="/">Go back to home</a>
</div>
